[submodule "source/vue-element-admin/repo"]
	path = source/vue-element-admin/repo
	url = https://github.com/PanJiaChen/vue-element-admin.git
	ignore = dirty
[submodule "source/react-admin/repo"]
	path = source/react-admin/repo
	url = https://github.com/marmelab/react-admin.git
	ignore = dirty
[submodule "source/ngx-admin/repo"]
	path = source/ngx-admin/repo
	url = https://github.com/akveo/ngx-admin.git
	ignore = dirty
